@import "./settings/settings.global";
@import './settings/settings.core';
@import './variables.scss';

@import './base/app';
@import './base/layout';
@import './base/page';

$main-color: $mainColor;
html {
    overflow: hidden;
}
body {
    background: $mainColor !important;
    overflow: hidden;
    overscroll-behavior-x: none !important;
}
