// $mainColor: #1c63c3;
$mainColor: #1d7de2;
$mainColorLighter: #41a5ee;
$mainColorDarker: #025dd5;
$gutaYellow: #ffcc50;
$mainBgColor: #d5e6fc;
$darkerMain: #1c3298;
$darkGrey: #8f9597;
$textBlack: #333333;
$bottomBarGrey: #666666;
$semiGrey: #727272;
$redDanger: #f56c6c;
$orange: #FF5722;
$green: #67c23a;
$darkerGreen: #3a8c23;
$redPink: #f56c6c;
$greyBackground: #f1f1f1;
$greyBorder: #eaeaea;
$blue: #00bcd4;
$posNavBg: #fff;
$posNavBorderBg: #eaeaea;
$mainNavbarBg: #1d7de2;
$secondNavbarBg: #41a5ee;
$mainIconColor: #1d7de2;
$mainBorderColor: #eaeaea;
