.navbar {
	padding: .5rem 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	&:focus {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}
.navbar-toggler {
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
	&:focus {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
}
.navbar-expand {
	flex-flow: row nowrap;
	justify-content: flex-start;
	.navbar-toggler {
		display: none;
	}
}
.bg-success {
	background-color: #28a745 !important;
}
@media print {
	* {
		text-shadow: none !important;
		box-shadow: none !important;
	}
	img {
		page-break-inside: avoid;
	}
	.navbar {
		display: none;
	}
}

hr {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
*,
:after,
:before {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    vertical-align: middle;
    overflow: hidden;
}

.text-center {
    text-align: center !important;
}
.float-lg-right {
    float: right !important;
}
.el-tag + .el-tag {
    margin-left: 10px;
}
