@import "../../variables";
.c-checkbox {
    display: block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    font-size: 1rem;
    min-height: 18px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    &__check-mark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #FFF;
        border: 1px solid $global-color-line;
        -webkit-border-radius: $global-radius;
        -moz-border-radius: $global-radius;
        border-radius: $global-radius;

        &:after {
            content: "";
            position: absolute;
            display: none;

            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: solid $global-color-info;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.c-checkbox {
    &__input:checked ~ &__check-mark:after {
        display: block;
    }
}
.el-checkbox:not(.el-checkbox--small) {
    .is-checked {
        .el-checkbox__inner {
            border-color: #DCDFE6;
        }

    }
    .el-checkbox__inner {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        background-color: #fff;

        &::before {
            background-color: $mainColor;
            top: 7px;
            height: 4px;
        }
        &::after {
            top: 2px;
            left: 6px;
            height: 10px;
            color: $mainColor;
            border-color: $mainColor;
            border-width: 2px;
        }
    }
}

