@import '../../variables';
.box {
    border: 1px solid #eaeaea;
    background-color: #FFF;
    border-radius:10px;
    // overflow: hidden;
    overflow: auto;
    .box-header {
        position: relative;
        padding: 12px 20px;

        > h4 {
            font-size: 18px;
            margin: 0;
        }

        > h5 {
            font-size: 16px;
            margin: 0;
        }

        .box-tools {
            margin-top: 10px;
            @media screen and (min-width: 768px) {
                position: absolute;
                right: 10px;
                top: -4px;
            }
        }
    }

    .box-body, .box-footer {
        padding: 12px 20px;
        position: relative;
    }

    .with-border-top {
        border-top: 1px solid #E8E7E7;
    }

    .with-border {
        border-bottom: 1px solid #E8E7E7;
    }

    .with-border-dot {
        border-bottom: 1px dotted #E8E7E7;
    }
    &.report-box {
        border: 1px solid #eaeaea !important;
        border-radius: 5px !important;
        overflow: hidden;
    }
}
.child-box {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    .title {
        font-size: 13px;
        color: #666;
    }
    .value {
        font-size: 20px;
        font-weight: bold;
        &.smaller {
            font-size: 16px;
        }
    }
    .right-sign {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 20px;
        font-weight: bold;
        margin: auto;
    }
    .rate {
        color: #20C232;
        font-weight: bold;
        display: block;
        margin-top: 4px;
        text-align: center;
        margin-left: -6px;
        &.down {
            color: #FF5166
        }
        span {
            font-size: 12px;
            font-weight: normal;
            color: #333;
        }
    }
    .small-text {
        font-size: 12px;
    }
    &.danger {
        .value {
            color: #FF5166;
        }
    }
    &.success {
        .value {
            color: #20C232;
        }
    }
    &.primary {
        .value {
            color: #1865b1;
        }
    }
}
.box-stats {
    [class*=el-col-] {
        position: relative;
    }

    .table-box {
        .child-box {
            background: $mainColor;
            border: 1px solid #eaeaea;
            box-shadow: none;
            border-bottom: 0px;
            color: #ffffff;
            overflow: hidden;
            margin-bottom: 0;
            padding: 5px 0;
            border-radius: 3px;
            .title  {
                color: #fff;
            }
        }
    }
    .blue-bg {
        background: #2a86c4 !important;
    }
    .green-bg {
        background: $green !important;
    }
    .red-bg {
        background: $redDanger !important;
    }
}
