@charset "UTF-8";
@import "../../variables";
@font-face {
	font-family: 'Cimi';
	src: local('☺'), url('/fonts/Montserrat-Regular.woff') format('woff'), url('/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cimi';
	src: local('☺'), url('/fonts/Montserrat-Bold.woff') format('woff'), url('/fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
body {
    font-family: 'Cimi', sans-serif !important;
    letter-spacing: -.5px;
    &.show-drawer {
        @media (min-width: 1200px) {
            .content-wrapper {
                margin-left: 245px;
            }
            .report-modal.full-screen-modal {
                margin-left: 245px;
            }
        }
        &.el-popup-parent--hidden {
            padding-right: 0 !important;
        }
    }
}
button:focus {
    outline: none;
}

.main-wrapper {
    height: 100%;
    font-size: 14px;
    min-width: 320px;
    overflow: hidden;
    .page-box {
        min-height: calc(100vh - 100px);
    }
}

.left-wrapper {
    background-color: #fff;
    margin-left: 0;
    overflow: hidden;
    margin-top: 57px;
    min-height: calc(100% - 57px);
    height: calc(100% - 57px);
    transition: margin-left .2s;

    > .navbar {
        height: 57px;
        background: $mainNavbarBg !important;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        .logo-img {
            height: 33px;
        }
        .account-dropdown {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
        .staff-avatar {
            width: 30px;
            height: 30px;
            img {
                border-radius: 50%;
            }
        }
    }

    h4, h5 {
        margin-bottom: 0px;
        margin-left: 5px;
        font-weight: bold;
    }
}

.content-wrapper {
    min-height: calc(100vh - 100px);
    overflow-x: hidden;
    transition: all 0.4s;

}

#sidedrawer,
#subSidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    left: -250px;
    overflow: hidden;
    z-index: 99;
    transition: transform 0.2s;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    &.show {
        transform: translate(250px);
    }

    .logout-a {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 10px;
        text-align: center;
        font-size: 12px;
        color: #868e96;
    }
}


.main-menu-wrapper {
    height: 100%;
    padding: 55px 0 0;
    box-sizing: border-box;
    .main-menu-scrollable {
        height: calc(100% - 60px);
        background-color: #f9f9f9;
        border-right: 1px solid #eaeaea !important;
    }
    #sub-sidebar-scroll {
        min-height: 100%;
        background-color: #f9f9f9;
        border-right: 1px solid #eaeaea !important;
    }
}

.main-menu {
    overflow-y: auto;
    flex-wrap: nowrap;
    margin-left: 0;
    text-align: left;
    background-color: #f9f9f9;
    border-right-color: transparent !important;
    .nav-item {
        padding: 5px 10px ;
        &:first-of-type {
            padding-top: 10px;
        }

        &:hover {
            a {
                background-color: #F6F6F6;
                &.active {
                    background-color: $mainColor;
                    color: #FFF;
                }
            }
        }
    }
}
.el-menu--collapse{
    .nav-item{
        a{
            .notify-count{
                position: absolute;
                top: 4px;
                background: #f56c6c;
                height: 14px;
                right: 10px;
                min-width: 14px;
                padding: 0 5px;
                border-radius: 10px;
                line-height: 14px;
                color: #FFF;
                font-size: 9px;
                text-align: center;
                font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
                font-weight: normal;
            }
        }
    }
}
.text-truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important
}
.content {
    padding: 12px 10px;
    h1 {
        font-size: 20px !important;
        font-weight: bold !important;
        margin-bottom: 10px;
    }
    @media (min-width: 1200px) {
        padding: 12px 20px;
    }
    h2 {
        font-size: 16px !important;
        font-weight: bold !important;
    }
}
.admin-page {
    .content {
        padding: 12px 10px;
        h1 {
            margin-bottom: 10px;
        }
    }
    @media (min-width: 1200px) {
        .content {
            padding: 12px 20px;
        }
    }
}
.content-header {
    margin-bottom: 20px;
}

#footer {
    height: 43px;
    line-height: 35px;
    padding: 4px;
    border-top: 1px solid #eaeaea;
    text-align: center;
}

.loading-placeholder {
    width: 100%;
    min-height: 150px;
}

.navbar-brand {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.navbar {
    background: $mainColor !important;
    position: relative;
    .navbar-toggler {
        display: block;
        position: absolute;
        color: #fff;
        border-color: transparent;
        font-size: 25px;
        padding: 0;
        left: 10px;
        cursor: pointer;
        img {
            width: 28px;
            height: 28px;
        }
    }
}

button.float-sm-right.btn.btn-primary.btn-sm,
button.float-sm-right.btn.btn-success.btn-sm {
    margin: 0 5px;
}
.table-responsive .table {
    table-layout: fixed;
    max-width: none;
    width: auto;
    min-width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch !important;
}
.account-poper {
    width: 180px;
    right: 0;
    left: unset !important;
}
.full-screen-modal {
    .el-dialog {
        max-width: 600px;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0 !important;
        overflow: hidden;
        box-sizing: border-box;
        .el-dialog__header {
            padding: 15px 20px 10px;
            text-align: center;
            font-weight: bold;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            position: fixed;
            width: 100%;
            max-width: 600px;
            height: 50px;
            background: #fff;
            .el-dialog__headerbtn {
                left: 10px;
                right: unset;
                top: 10px;
                font-size: 20px;
                font-weight: bold;
                i {
                    color: #000;
                }
            }

        }
        .el-dialog__body {
            margin-top: 50px;
            padding-bottom: 50px;
            height: 100%;
            overflow: hidden;
            padding: 0;
        }
    }
}
.empty-state {
    max-width: 200px;
    margin: 50px auto 15px;
    text-align: center;
}
.vertical-scroll {
    height: 100%
}

