.tool-btns {
    .report-btn {
        font-weight: bold;
        margin-bottom: 10px;
        width: 100%;
    }
}
.float-right-btn {
    position: absolute;
    right: 8px;
    top: 6px;
}
.dx-overlay-wrapper {
    font-family: unset !important;
}
.btn-left,
.float-left {
    float: left !important;
}

.btn-right,
.float-right {
    float: right !important;
}
