.products-table {
    img {
        &.product-thumb {
            width: 50px;
            height: 50px;
        }
    }
}
// not role columnheader
.button-cell {
    text-align: center !important;
    &:not([role="columnheader"]) {
        padding: 5px !important;
    }
}