@import '~@/assets/scss/variables.scss';
.tools-page {
    .tool-section {
        border: 1px solid #ebeef5;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }
}
