.reward-tags {
    .reward-label {
        font-size: 20px;
        font-weight: 800;
    }
    a.menu-action-btn {
        color: #212529 !important;

        &:hover {
            color: #212529 !important;
            text-decoration: none;
        }
    }
    .menu-action-btn {
        background: #ffffff;
        height: 100px;
        margin: 10px auto;
        width: 95%;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
        border: 1px solid #eaeaea;
        text-align: center;
        display: table;

        &
        .icon-menu {
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
            margin: 10px 0;
            font-weight: bold;

            i {
                font-size: 40px !important;
                display: block;
                color: $mainColorLighter;
                padding-bottom: 10px;
            }
        }
    }
}

.reward-partner {
    display: flex;
    justify-content: space-between;
    .partner-img {
        width: 50px;
    }
}

.exchange {
    display: flex;
    .exchange-value {
        font-weight: bold;
        margin-right: 4px;
    }
}

.custom-selectbox {
    .custom-field {
      position: relative;
      min-height: 30px;
      img {
        width: 28px;
        border-radius: 4px;
      }
    }
    .dx-dropdowneditor-input-wrapper .custom-field > img {
        margin-left: 12px;
    }

    .custom-field .label {
      display: inline-block;
      padding-left: 42px;
      text-indent: 0;
      line-height: 40px;
      font-size: 15px;
      width: 100%;
        input.dx-texteditor-input {
            height: 40px;
        }
    }

    .custom-field {
        img {
            left: 1px;
            position: absolute;
            top: 58%;
            margin-top: -15px;
        }
    }

    .dx-theme-material #custom-templates .dx-texteditor-buttons-container {
      display: none;
    }

    .current-value {
      padding: 10px 0;
    }

    .current-value > span {
      font-weight: bold;
    }

    .dx-theme-material .dx-selectbox-container .label {
      padding-left: 58px;
    }
}

.gift-inventory {
    min-height: 60px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    .label {
        font-size: 14px;
        margin-bottom: 4px;
    }
    .delete-btn {
        display: flex;
        justify-content: end;
        align-self: center;
    }
}
